@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
     .button{
          @apply bg-main gap-2 text-white flex items-center justify-center p-2 px-4 text-base rounded-xl font-medium hover:bg-light-pink hover:text-black
     }
     .main-heading{
          @apply md:text-[64px] font-bold md:leading-[76px] text-4xl sm:text-5xl 
     }
     .sub-heading{
          @apply md:text-5xl font-bold md:leading-[76px] text-4xl 
     }
}

.body{
     font-family: 'Urbanist', sans-serif;
}

.Urbanist{
     font-family: 'Urbanist', sans-serif;
}
@font-face {
     font-family: Urbanist;
     src: url('../../public//fonts/Urbanist-Black.ttf');
     font-weight: 900;
}
@font-face {
     font-family: Urbanist;
     src: url('../../public//fonts/Urbanist-Bold.ttf');
     font-weight: bold;
}
@font-face {
     font-family: Urbanist;
     src: url('../../public//fonts/Urbanist-ExtraBold.ttf');
     font-weight: 800;
}
@font-face {
     font-family: Urbanist;
     src: url('../../public//fonts/Urbanist-ExtraLight.ttf');
     font-weight: 200;
}
@font-face {
     font-family: Urbanist;
     src: url('../../public//fonts/Urbanist-Light.ttf');
     font-weight: 300;
}
@font-face {
     font-family: Urbanist;
     src: url('../../public//fonts/Urbanist-Medium.ttf');
     font-weight: 500;
}
@font-face {
     font-family: Urbanist;
     src: url('../../public//fonts/Urbanist-Regular.ttf');
     font-weight: 400;
}
@font-face {
     font-family: Urbanist;
     src: url('../../public//fonts/Urbanist-SemiBold.ttf');
     font-weight: 600;
}



*,h1,h2,h3,h4,h5,h6,p{
     font-family: Urbanist, sans-serif !important;
}
.mianbg{
     background-image: url('../../public/images/main-bg.png');
     background-position: bottom;
     background-repeat: no-repeat;
     background-size: cover;
}
.bxs{
     box-shadow: 0px 0px 17px 2px rgba(130,130,130,0.16);
-webkit-box-shadow: 0px 0px 17px 2px rgba(130,130,130,0.16);
-moz-box-shadow: 0px 0px 17px 2px rgba(130,130,130,0.16);
}

.feedbackBg{
     background-image: linear-gradient(to bottom, rgba(255, 199, 167, 0.22) 0%,rgba(255, 199, 167, 0.22) 100%), url('../../public/images/whatwedo-diamond.png');
}
.input{
     background: #FFFFFF;
     border: 0.5px solid #4E5FE3;
     box-shadow: 0px 4px 20px rgba(181, 188, 234, 0.39);
     border-radius: 10px;
}
.input2{
     background: #FFFFFF;
     box-shadow: 0px 4px 20px rgba(181, 188, 234, 0.39);
     border-radius: 10px;
}
.footerbg{
     background-image: url('../../public/images/footer-bg.png');
     background-position: bottom ;
     background-repeat: no-repeat;
     background-size: cover;
}
.registorbg{
     background: url('../../public/images/registor-bg.png');
     background-position: top;
     background-repeat: no-repeat;
     background-size: cover;
}



select {
     /* Arrow */
     appearance: none;
     /* background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"); */
     background-repeat: no-repeat;
     background-position: right 0.7rem top 50%;
     background-size: 0.65rem auto;
   }
   